{% extends 'index.html' %}

{% block titre %}<h1 class="titre-header font">Créer un compte</h1>{% endblock %}


{% block contenu %}
<body>
    <form class="connexion-inscription" method="POST">
        <fieldset>
            {{ form.csrf_token }}
            <div class="champs"><label class="font">Nom du compte</label>{{ form.user(size=20) }}</div>
            <div class="champs"><label class="font">Adresse mail</label>{{ form.mail(size=20) }}</div>
            <div class="champs"><label class="font">Mot de passe</label>{{ form.mdp(size=20) }}</div>
            <div class="champs"><label class="font">Nom</label>{{ form.nom(size=20) }}</div>
            <div class="champs"><label class="font">Prénom</label>{{ form.prenom(size=20) }}</div>
            <div class="champs"><label class="font">Anniversaire</label>{{ form.anniversaire(size=20) }}</div>
            <input class="bouton envoyer" type="submit" value="Inscription">
        </fieldset>
    </form>
</body>
{% endblock %}
{% block footer %}
<footer class="footer footer-connexion-inscription">
    <p class="copyright font">Copyright &copy; 2022 Voyage-Voyage | Mentions Légales | Politique de confidentialité</p>
</footer>
{% endblock %}