<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
        <title>Voyage-Voyage</title>
    </head>
    <body>
        <header class="header">
            <a href="{{url_for('index')}}">
                <img class="logo" src="{{ url_for('static', filename='logo.png') }}">
            </a>
            <p class="nom">{{pseudo}}</p>
            {% block titre %}<h1 class="titre-header">Voyage-Voyage</h1>{% endblock %}
            {% if pseudo %}
                <input class="bouton bouton-header" type="button" value="Réservation" onclick="window.location.href='{{url_for('listereservation')}}';">
                <input class="bouton bouton-header bouton-header-bas bouton-rouge" type="button" value="Déconnexion" onclick="window.location.href='{{url_for('deconnexion')}}';">
            {% else %}
                <input class="bouton bouton-header" type="button" value="Connexion" onclick="window.location.href='{{url_for('connexion')}}';">
                <input class="bouton bouton-header bouton-header-bas" type="button" value="Inscription" onclick="window.location.href='{{url_for('creercompte')}}';">
            {% endif %}
        </header>
        {% block contenu %}
        <section>
                {% for element_liste_circuit in liste_circuit %}
                <div class="container-circuit img">
                    <h2 class="titre-circuit">{{element_liste_circuit.0}}</h2>
                    <p class="description-circuit">{{element_liste_circuit.1}}</p>
                    <input class="bouton lieu" type="button" value="Détail" onclick="window.location.href='{{element_liste_circuit.0}}';">
                </div>
                {% endfor %}
        </section>
        {% endblock %}
        {% block footer %}
            <footer class="footer">
                <p class="copyright">Copyright &copy; 2022 Voyage-Voyage | Mentions Légales | Politique de confidentialité</p>
            </footer>
        {% endblock %}
    </body>
</html>