{% extends 'index.html' %}

{% block titre %}<h1 class="titre-header-lieu">{{nom_lieu}}</h1>{% endblock %}


{% block contenu %}
<div class="contenu-circuit-lieu contenu-lieu" style="background-image:url({{url}});">
    <h2 class="titre-circuit-lieu titre-lieu">{{ville_lieu}}<br>{{pays_lieu}}</h2>
    <p class="description-lieu">{{description_lieu}}<br><br>{{prix_lieu}} €</p>
    <input class="bouton bouton-retour-lieu" type="button" value="Retour" onclick="javascript:history.back(-1);">
</div>
{% endblock %}
{% block footer %}
<footer class="footer footer-connexion-inscription">
    <p class="copyright">Copyright &copy; 2022 Voyage-Voyage | Mentions Légales | Politique de confidentialité</p>
</footer>
{% endblock %}