{% extends 'index.html' %}

{% block titre %}<h1 class="titre-header-lieu">{{nom_lieu}}</h1>{% endblock %}


{% block contenu %}
<div class="lieu">
    <h2 class="titre-circuit-lieu">{{ville_lieu}} - {{pays_lieu}}</h2>
    <p class="description-lieu">{{description_lieu}}</p>
    <p class="prix-lieu">{{prix_lieu}}€</p>
    <img class="img-lieu" src={{url}}>
    <input class="bouton" type="button" value="Retour" onclick="javascript:history.back(-1);">
</div>
{% endblock %}
{% block footer %}
<footer class="footer footer-connexion-inscription">
    <p class="copyright">Copyright &copy; 2022 Voyage-Voyage | Mentions Légales | Politique de confidentialité</p>
</footer>
{% endblock %}