<!--la page index.html est le template parent, tout les fichier côté front end reprennent cette base-->
{% extends 'index.html' %}
<!--le contenu du titre change selon les pages-->
{% block titre %}<h1 class="titre-header font">Réservation</h1>{% endblock %}

<!--contenu de la section qui change entre toute les pages-->
{% block contenu %}
<section class="margin-top">
    <body>
    {% for element_liste_reservation in liste_reservation %}
            <div class="liste font">
                <ul>
                    <li>
                        <p>{{element_liste_reservation.0}} pour {{element_liste_reservation.1}} personne(s) du {{element_liste_reservation.2}} jusqu'au {{element_liste_reservation.3}}</p>
                    </li>
                </ul>
            </div>
    {% endfor %}
    </body>
</section>
{% endblock %}
<!--contenu du footer qui change entre toute les pages-->
{% block footer %}
<footer class="footer footer-connexion-inscription">
    <p class="copyright font">Copyright &copy; 2022 Voyage-Voyage | Mentions Légales | Politique de confidentialité</p>
</footer>
{% endblock %}