<link rel="stylesheet" href="./static/style_admin.css"/>
<body>
<header class="header">
        <a href="{{url_for('index')}}"><button class="boutton">Site</button></a>
        <a href="{{url_for('circuit_admin')}}"><button class="boutton">Circuit</button></a>
        <a href="{{url_for('utilisateur')}}"><button class="boutton"> Utilisateur</button></a>
        <a href="{{url_for('lieu_admin')}}"><button class="boutton"> Lieu</button></a>
        <a href="{{url_for('ville')}}"><button class="boutton"> Ville</button></a>
        <a href="{{url_for('pays')}}"><button  class="boutton"> Pays</button></a>
    </header>
<div class="en-dessous-header">
    <div class="conteneur-titre-ajouter">
        <p class="titre-ajouter"> Ajoutez un pays :</p>
    </div>
    <div class="conteneur-form">
        <form method="POST" class="ajouter-form">
            {{ form.csrf_token }}
            {{ form.nom_pays.label }} {{ form.nom_pays(size=20) }}
            <input type="submit" value="GO"></input>
        </form>
    </div>
    {% for your_list_element in your_list %}
    <div class="conteneur-titre-ajouter modif-conteneur-titre">
        <p class="titre-ajouter "> Modifier ou supprimer un pays :</p>
    </div>
    <form method="POST">
        <div class="ajouter-form">
            <div class="grouper-input-label">
                {{ forml.csrf_token }}
                {{ forml.id_pays_existant(value=your_list_element.0)}}
                {{ forml.nom_pays_existant(value=your_list_element.1) }}
                <input type="submit" name="tu" value="GO"></input>
                <input type="submit" name="tu" value="Delete"></input>
            </div>
        </div>
    </form>
    {% endfor %}