body{
background-color: #d2d2d2;
overflow-x: hidden;
}
.fond-connexion-inscription{
background-image: url("https://files.macg.co/macgupload/1496758788-26394278821921.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.image-fond{
top : 0vh;
width: 100vw;
height : 100vh;
position : fixed;
z-index: -1;
}
.titre{
text-align: center;
font-size: 10vh;
margin: 4vh;
}
.header{
height: 10vh;
width: 100vw;
background-color: #318ce7;
top: 0vh;
left: 0vw;
margin: 0%;
padding: 0%;
position: fixed;
z-index: 1;
}
.logo{
height: 10vh;
width: 10vh;
left: 2vw;
position: fixed;
}
.nom{
height: 6vh;
top : 1vh;
left : 8vw;
font-size: 6vh;
position: fixed;
margin : 0%;
}
.titre-header{
height : 8vh;
font-size: 8vh;
top : 0vh;
position: fixed;
width: 40vw;
left: 30vw;
margin: 0%;
text-align: center;
}
.titre-header-circuit{
height : 8vh;
font-size: 6vh;
top : 1vh;
position: fixed;
width: 50vw;
left: 25vw;
margin: 0%;
text-align: center;
}
.titre-header-lieu{
height : 8vh;
font-size: 6vh;
top : 1vh;
position: fixed;
width: 60vw;
left: 20vw;
margin: 0%;
text-align: center;
}



.bouton{
width: 12vh;
height: 2.8vh;
border-radius: 17px;
background-color: white;
color: black;
border: 2px solid seagreen;
font-size: 14px;
}
.bouton-index{
position: relative;
top: 30vh;
display: block;
margin: auto;
}
.bouton:hover{
background-color: seagreen;
color:white;
}
.bouton-header{
position: fixed;
left: 90vw;
top: 2vh;
}
.bouton-header-bas{
position: absolute;
top: 5vh;
}
.bouton-width-auto{
width : auto;
}
.bouton-rouge{
border: 2px solid #CF1111;
}
.bouton-rouge:hover{
background-color: #CF1111;
}
.bouton-annulation{
position: sticky;
left: 60vw;
}
.envoyer{
position: relative;
top: 1vh;
left: 22vh;
height: 30px;
font-size: 15px;
border-radius: 17px;
border: 1px solid grey;
}
.envoyer-réservation{
top: 0;
left: 0;
transition: all 0.5s;
}
.envoyer-réservation span{
transition: 0.5s;
}
.envoyer-réservation span:after{
content: '\2708';
color: black;
font-size: 25px;
top: 0;
position: absolute;
opacity: 0;
transition: 0.5s;
}
.envoyer-réservation:hover span {
padding-right: 20px;
}
.envoyer-réservation:hover span:after {
opacity: 1;
right: 0;
}


.contenu-circuit{
position: relative;
top : 30vh;
height : 40vh;
width : 80vw;
left : 10vw;
background-color: whitesmoke;
margin-bottom: 20vh;
background-image: url("https://images.unsplash.com/photo-1499346030926-9a72daac6c63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80");
background-repeat: round;
background-size: cover;
}
.titre-circuit{
position :absolute;
height : 10vh;
width: 80vw;
text-align: center;
font-size: 7vh;
margin: 0;
left: 0vw;
}
.description-circuit{
position :absolute;
height : 10vh;
width: 80vw;
text-align: center;
font-size: 4vh;
margin: 0;
left: 0vw;
top : 10vh;
}


fieldset{
padding-bottom: 2vh;
width: 55vh;
background-color: lightblue;
border: grey solid 1px;
}
.connexion{
position: relative;
top : 30vh;
font-size: 3vh;
font-weight: bolder;
display: flex;
justify-content: center;
}
.inscription{
position: relative;
top : 30vh;
font-size: 3vh;
font-weight: bolder;
display: flex;
justify-content: center;
}
label{
text-align: left;
display: inline-block;
width: 10em;
}
input{
height: 3vh;
}



.footer{
margin-top: 10vw;
width: 100vw;
background-color: #318ce7;
left: 0;
position: absolute;
}
.footer-connexion-inscription{
bottom: 0;
overflow-y: hidden;
}

.copyright{
text-align: center;
font-size: 2vh;
margin: 4vh;
}

.lieu{
position: relative;
top: 200px;
}

.img-circuit{
display: inline-block;
}
.img-lieu{
height: 200px;
cursor: pointer;
}
figcaption{
text-align: center;
}

.liste{
position: relative;
font-size: 3vh;
font-weight: bolder;
width: auto;
background-color: lightblue;
border: transparent solid 1px;
}

.margin-top{
margin-top: 30vh;
}
